{
  "plugins": [
    "transform-flow-strip-types",
    "transform-decorators-legacy",
    "add-module-exports",
    "transform-es2015-modules-commonjs",
    "transform-class-properties"
  ],
  "presets": [
    "es2017",
    "es2016"
  ]
}